/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{

	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: center;
	max-width: 1000px;
}
nav{
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
}
nav a{
	color: lightgray;
	margin: 50px;
}
nav a:hover{
	color: gray;
}
nav .logo{
	justify-content: flex-end;
	padding: 20px 50px 50px 20px;
	
}
header{
	display:flex;
	align-items: space-around;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	
}
h1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
font-size: 72px;
text-align: center;
padding: 40px 80px;

}
button{
	background-color: white;
	border: 1px solid black;
	width: 200px;
	font-size: 18px;
	margin-left:10px;
}
button:hover{
	background-color: lightgray;
	
}
.header-img{
	padding: 50px;
	margin-left: 40px;
}

.top-content{
	display: flex;
}
.top-content div{
	width: 400px;
	padding: 30px;
	margin-left: 25px;
	
}
.middle-img{
	display: flex;
	justify-self: auto;
	align-self: auto;
	width: 820px;
}
.bottom-content{
	display: flex;
	border-bottom: 1px solid black;
}
.bottom-content div{
	width: 275px;
	padding: 30px;
	margin: 15px;
}
.contact{
	width: 1000px;
	margin: 50px;
	padding-left:25px;
}
footer{
	width: 1000;
	margin: auto;
	align-content: center;
}

/*this is where the css specific to service page starts*/

.services-header-img{
	display: flex;
	justify-self: auto;
	align-self: auto;
	width: 1000px;
	padding-bottom: 20px;
}
.logo2{
	justify-content: stretch;
	align-content: flex-start;
	padding-top: 0px;
	margin-top: 0px;
	padding-right: 50px;
	
}
.top-text{
	display: flex;
	padding-bottom: 25px;
	border-bottom: 1px solid black;
}
h3{
	display: flex;
	width: 1000px;
	justify-content: flex-start;
	font-size: 32px;
}
.info-blocks{
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}
.info-blocks div{
	border: 1px solid black;
	width: 450px;
	background-color: #f4f3f4;
}
.service-facts{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 50px;
	
}
.service-facts div{
	width: 500px;
	padding-right: 100px;

}

ul{
	list-style-position: inside;
	list-style-type: square;
}
